<div class="grid-y medium-grid-frame">
    <div class="cell medium-1">
        <nav class="grid-x">
            <div class="cell medium-3">
                <a href="#" class="logo">Raptor Plan</a>
            </div>
            <div class="cell medium-7 title">
                <strong>Create Account</strong>
            </div>
        </nav>
    </div>
    <div class="cell medium-10">
        <router-outlet></router-outlet>
    </div>
    <div class="cell medium-1 navigators">
        <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
</div>