
nav {
    height: 65px;
    background-color: rgb(119, 25, 119);
    padding-top: 5px;
}

nav > div > .logo {
    margin-left: 10px;
    color: white;
    font-size: 1.8em;
}

nav >  .title {
    text-align: center;
    color: white;
    font-size: 1.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigators{
    text-align: center;
}