<section class="grid-x">
    <div class="cell medium-6 current-school">
        <h3>
            <strong>What is your school?</strong>
        </h3>
        <img src="../assets/images/mc_logo.jpg" alt="">
        <span>Montgomery College</span>
        <input type="radio" name="currentschool" value="MC" />
    </div>
    <div class="cell medium-6 transfer-school">
        <h3>
            <strong>Where are you transferring to?</strong>
        </h3>
        <div class="transfer-schools">
            <img src="../assets/images/umd-logo.png" alt="">
            <span>University of Maryland College Park</span>
            <input type="radio">
            <br/>
            <img src="../assets/images/umbc-logo.jpg" alt="">
            <span>University of Maryland Baltimore Country</span>
            <input type="radio">
            <br/>
        </div>
    </div>
</section>